.mainView {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--color-dark);
}

@media screen and (min-width: 768px) {
    .mainView {
        width: 30rem;
        margin: 0 auto;
        box-shadow: 0 0 1rem var(--color-shadow-dark);
    }
}

.title {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--color-accent);
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 1.5rem;
    background-color: var(--color-accent);
    cursor: pointer;
}
