.categoryIcon {
    padding: 0.5rem;
    margin: 0 0.75rem;
    min-width: 2rem;
    text-align: center;
    font-size: var(--font-size-tiny);
    background-color: var(--color-shadow-light);
    border-radius: 0.5rem;
}
